{% extends "base.html"%}
{% block content %}
<section class="two">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <h1> {{group.source_name}} </h1>
                <p> Fact:
                    <br>
                    {{group.source_fact1}} <br>
                </p>
                <p>
            </form>
        </div>
    </div>
    </div>
</section>
<section class="three">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <p class="pgreen">
                    Fact:
                    <br>
                    {{group.source_fact2}} <br>
                </p>
                <p>
            </form>
        </div>
    </div>
    </div>
    <section class="four">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <p> Fact:
                    <br>
                    {{group.source_fact3}} <br>
                </p>
                <p>
            </form>
        </div>
    </div>
    </div>
        <section class="two">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <p  style="font-size: 1vw;"> Recipes containing members of this food group </p>
                <p style="font-size: 1vw;">
                    {{recipe.recipe_name}} </p>
                <p style="font-size: 1vw;"> Description: </p>
                 <p style="font-size: 0.9vw;">   {{recipe.recipe_description}}</p>
                                    <p style="font-size: 1vw;"> Ingredients: </p>
                    <p style="font-size: 0.9vw;">{{recipe.ingredient_quantity}}</p>
                    <p style="font-size: 1vw;"> Method:</p>
                    <p style="font-size: 0.9vw;">{{recipe.recipe_method}}</p>
            </form>
        </div>
    </div>
    </div>
{% endblock %}