{% extends "base.html"%}
{% block content %}
<section class="two">
    <div class="container">
        <div class="center">
            <br>
            <br>
            <h1> SEARCH FOR FUN FACTS BY ENTERING A FOOD GROUP</h1>
            <form action="" method="post">
                <p>
                    {{form.search.label}} <br>
                    {{form.search(size=30)}}
                </p>
                <p> {{form.submit()}}</p>
                <p> {{message}}</p>
            </form>
        </div>
    </div>
    </div>
</section>

{% endblock %}