{% extends "base.html"%}
{% block content %}
<section class="two">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <h1> {{group.source_name}} </h1>
                <p> Fact:
                    <br>
                    {{group.source_fact1}} <br>
                </p>
                <p>
            </form>
        </div>
    </div>
    </div>
</section>
<section class="three">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <p class="pgreen">
                    Fact:
                    <br>
                    {{group.source_fact2}} <br>
                </p>
                <p>
            </form>
        </div>
    </div>
    </div>
    <section class="four">
    <div class="container">
        <div class="center">
            <form action="" method="post">
                <p> Fact:
                    <br>
                    {{group.source_fact3}} <br>
                </p>
                <p>
            </form>
        </div>
    </div>
{% endblock %}